<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>

</head>
<body>
    <style>
        /* CSS styles for the footer */
        .footer {
            background-color:#063c6b;
            color: white;
            padding: 20px;
            text-align: center;
            font-size:18px;
        }
    </style>
    <div class="footer">
        <p>All Rights Reserved Suffix E Solutions © 2007-2023</p>
    </div>
</body>
</html>
