<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS styles for the container */
        .containers {
            position: relative;
            height: 800px;
            background-image: url("../images/bg.jpg");
            background-size: cover;
            background-position: center;
        }

        /* CSS styles for the overlay image */
        .overlay-image {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div th:include="header::body"></div>
    <div class="containers">
        <img class="overlay-image img-fluid" th:src="@{/images/banner.png}" alt="Overlay Image">
    </div>
    <div th:include="footer::body"></div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
